In [1]:
import ee
import pandas as pd

In [2]:
ee.Authenticate()
ee.Initialize()

Successfully saved authorization token.

In [78]:
def country_check(country):
    location = ee.FeatureCollection("USDOS/LSIB_SIMPLE/2017").filter(ee.Filter.eq("country_na", str(country)))
    if location.size().getInfo() > 0:
        return str("working")
    else:
        return str("error")

In [79]:
df_yield = pd.read_csv("yield_df.csv")
countries_with_doubles = df_yield["Area"].tolist()
seen = set()
countries = []
for item in countries_with_doubles:
    if item not in seen:
        seen.add(item)
        countries.append(item)

In [80]:
country_name_check = []
country_index = []
i = 0
while i < len(countries):
    result = country_check(country = countries[i])
    country_name_check.append(result)
    country_index.append(countries[i])
    i += 1

In [81]:
df_country_check = pd.DataFrame()
df_country_check["Country"] = country_index
df_country_check["Result"] = country_name_check
df_country_check.to_csv("check_countries_df.csv")

df_country_check.head()

     Country   Result
0    Albania  working
1    Algeria  working
2     Angola  working
3  Argentina  working
4    Armenia  working