In [1]:
import pandas as pd

In [2]:
df_GDP = pd.read_csv("GDP_data.csv")
df_GNI = pd.read_csv("GNI_data.csv")
df_undernourishment = pd.read_csv("undernourishment_data.csv")

In [3]:
df_GDP = df_GDP.rename(columns={"Value": "GDP (USD)"})
df_GDP = df_GDP.drop(columns=["Domain", "Element", "Item"])

df_GNI = df_GNI.rename(columns={"Value": "GNI (USD)"})
df_GNI = df_GNI.drop(columns=["Domain", "Element", "Item"])

df_undernourishment = df_undernourishment.rename(columns={"Value": "Undernourishment (%)"})
df_undernourishment = df_undernourishment.drop(columns=["Domain", "Element", "Item"])

In [4]:
df_comb_test = df_GDP.merge(df_GNI, on=["Area", "Year"])

df_comb = df_comb_test.merge(df_undernourishment, on=["Area", "Year"])

df_comb = df_comb.dropna()

In [5]:
df_comb.head()

          Area  Year    GDP (USD)    GNI (USD) Undernourishment (%)
0  Afghanistan  2001  3598.470576  3598.407195                 47.8
1  Afghanistan  2002  4141.523943  4134.295420                 45.6
2  Afghanistan  2003  4729.042179  4721.728965                 40.6
3  Afghanistan  2004  5388.482107  5396.722695                   38
4  Afghanistan  2005  6220.574147  6231.622214                 36.1

In [6]:
df_comb.to_csv("df_comb.csv")