Needs Update due to new country name codes. These prevent data loss due to not recognised names in other data sets.

In [1]:
import pandas as pd

In [87]:
#output (y)
df_undernourishment = pd.read_csv("undernourishment_data.csv")
#input (X)
#gloabl conflicts
#df_conflict = pd.read_csv("conflict_data_raw.csv", low_memory=False) Note that file is too big, so its not on github
#climate
#df_ndvi = pd.read_csv("ndvi_data.csv")
#economics
df_GDP = pd.read_csv("GDP_data.csv")
df_GNI = pd.read_csv("GNI_data.csv")

In [88]:
keep_columns = ["year", "country", "best"]
df_conflict = df_conflict[keep_columns].rename(columns={"country": "Area", "year": "Year", "best": "Casualties"}
).loc[(df_conflict["year"] >= 2001) & (df_conflict["year"] <= 2020)
].groupby(["Area", "Year"]).sum()
df_conflict.to_csv("conflict_data.csv")

In [34]:
df_GDP = df_GDP.rename(columns={"Value": "GDP (MUSD)"}
).drop(columns=["Domain", "Element", "Item"])

df_GNI = df_GNI.rename(columns={"Value": "GNI (MUSD)"}
).drop(columns=["Domain", "Element", "Item"])

df_undernourishment = df_undernourishment.rename(columns={"Value": "Undernourishment (%)"}
).drop(columns=["Domain", "Element", "Item"])

In [35]:
df_comb_FAO = df_GDP.merge(df_GNI, on=["Area", "Year"]
).merge(df_undernourishment, on=["Area", "Year"]).dropna()

In [37]:
df_test = df_comb_FAO.merge(df_conflict, on=["Area", "Year"])
df_test.to_csv("test_crisis.csv")
df_test.head()

,Area,Year,GDP (MUSD),GNI (MUSD),Undernourishment (%),Casualties
0,Afghanistan,2001,3598.470576,3598.407195,47.8,2328
1,Afghanistan,2002,4141.523943,4134.295420,45.6,30
2,Afghanistan,2003,4729.042179,4721.728965,40.6,32
3,Afghanistan,2003,4729.042179,4721.728965,40.6,628
4,Afghanistan,2004,5388.482107,5396.722695,38,711

In [5]:
df_ee_check = pd.read_csv("ee_country_check.csv")

In [6]:
df_comb_ee = df_comb_FAO.merge(df_ee_check, on=["Area"])
df_comb_ee = df_comb_ee[df_comb_ee["ee check"].str.contains("working") == True
].reset_index().drop(columns=["index", "Unnamed: 0", "ee check"])
df_comb_ee.to_csv("df_comb_ee.csv")

df_comb_ee.head()

          Area  Year   GDP (MUSD)   GNI (MUSD) Undernourishment (%)
0  Afghanistan  2001  3598.470576  3598.407195                 47.8
1  Afghanistan  2002  4141.523943  4134.295420                 45.6
2  Afghanistan  2003  4729.042179  4721.728965                 40.6
3  Afghanistan  2004  5388.482107  5396.722695                   38
4  Afghanistan  2005  6220.574147  6231.622214                 36.1

In [7]:
df_comb_ee.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2877 entries, 0 to 2876
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Area                  2877 non-null   object
 1   Year                  2877 non-null   int64
 2   GDP (MUSD)            2877 non-null   float64
 3   GNI (MUSD)            2877 non-null   float64
 4   Undernourishment (%)  2877 non-null   object
dtypes: float64(2), int64(1), object(2)
memory usage: 112.5+ KB

In [8]:
#df.to_csv("combined_dataset.csv")

#print(df.info())
#print(df.head())