In [2]:
import pandas as pd

In [51]:
path = (r"undernourishment_prediction\data")

#index to merge on with countries and years that we have y data for
df_base = pd.read_csv(path + r"\country_time_base.csv")
#output (y)
df_undernourishment = pd.read_csv(path + r"\undernourishment_data.csv")
#input (X)
#gloabl conflicts
df_conflict = pd.read_csv(path + r"\conflict_data.csv") #This is an already edited file. Note that the raw file is too big, so its not on github.
#population
df_pop = pd.read_csv(path + r"\population_data.csv")
#climate
df_temp = pd.read_csv(path + r"\temp_data.csv")
df_rain = pd.read_csv(path + r"\rain_data.csv")
#df_ndvi = pd.read_csv("ndvi_data.csv")
#economics
df_GDP = pd.read_csv(path + r"\GDP_data.csv")
df_GNI = pd.read_csv(path + r"\GNI_data.csv")
df_prod = pd.read_csv(path + r"\production_data.csv")

In [88]:
#keep_columns = ["year", "country", "best"]
#df_conflict = df_conflict[keep_columns].rename(columns={"country": "Area", "year": "Year", "best": "Casualties"}
#).loc[(df_conflict["year"] >= 2001) & (df_conflict["year"] <= 2020)
#].groupby(["Area", "Year"]).sum()
#df_conflict.to_csv("conflict_data.csv")

In [52]:
df_undernourishment = df_undernourishment[["Area Code (M49)", "Year", "Value"
]].rename(columns={"Area Code (M49)": "M49", "Value": "Undernourishment (%)"})

#population data needs reshaping

df_GDP = df_GDP[["Area Code (M49)", "Year", "Value"
]].rename(columns={"Area Code (M49)": "M49", "Value": "GDP (MUSD)"})

df_GNI = df_GNI[["Area Code (M49)", "Year", "Value"
]].rename(columns={"Area Code (M49)": "M49", "Value": "GNI (MUSD)"})

df_prod = df_prod[["Area Code (M49)", "Year", "Value"
]].rename(columns={"Area Code (M49)": "M49", "Value": "Food Prod. Index"})

In [53]:
df_comb_temp = df_base.merge(df_GDP, on=["M49", "Year"], how="left"
).merge(df_GNI, on=["M49", "Year"], how="left"
).merge(df_prod, on=["M49", "Year"], how="left"
).merge(df_temp, on=["GAUL", "Year"], how="left"
).merge(df_rain, on=["GAUL", "Year"], how="left"
).merge(df_conflict, on=["Area", "Year"], how="left"
).merge(df_undernourishment, on=["M49", "Year"], how="left"
).drop(columns=["Unnamed: 0", "Unnamed: 0_x", "Unnamed: 0_y"])

df_comb_temp.to_csv("combined_dataset_temp.csv")

In [54]:
df_comb_temp.head()

,GAUL,M49,Area,Year,GDP (MUSD),GNI (MUSD),Food Prod. Index,Temperature,Precipitation,Casualties,Undernourishment (%)
0,1,4,Afghanistan,2001,3598.470576,3598.407195,62.42,286.086560,42.992387,5553.0,47.8
1,1,4,Afghanistan,2002,4141.523943,4134.295420,75.74,285.637743,64.661574,1157.0,45.6
2,1,4,Afghanistan,2003,4729.042179,4721.728965,77.83,284.996151,74.464959,944.0,40.6
3,1,4,Afghanistan,2004,5388.482107,5396.722695,75.77,285.864614,66.059247,817.0,38
4,1,4,Afghanistan,2005,6220.574147,6231.622214,84.68,284.481630,78.640260,1711.0,36.1

In [6]:
#df_ee_check = pd.read_csv("ee_country_check.csv")

#df_comb_ee = df_comb_FAO.merge(df_ee_check, on=["Area"])
#df_comb_ee = df_comb_ee[df_comb_ee["ee check"].str.contains("working") == True
#].reset_index().drop(columns=["index", "Unnamed: 0", "ee check"])
#df_comb_ee.to_csv("df_comb_ee.csv")

#df_comb_ee.head()

          Area  Year   GDP (MUSD)   GNI (MUSD) Undernourishment (%)
0  Afghanistan  2001  3598.470576  3598.407195                 47.8
1  Afghanistan  2002  4141.523943  4134.295420                 45.6
2  Afghanistan  2003  4729.042179  4721.728965                 40.6
3  Afghanistan  2004  5388.482107  5396.722695                   38
4  Afghanistan  2005  6220.574147  6231.622214                 36.1

In [8]:
#df.to_csv("combined_dataset.csv")

#print(df.info())
#print(df.head())