In [1]:
import pandas as pd

In [9]:
base_data = pd.read_csv("undernourishment_data.csv")

In [10]:
base_data = base_data.drop(columns=["Domain", "Element", "Item", "Value"])
base_data.to_csv("base_country_time_data.csv")

base_data.head()

          Area  Year
0  Afghanistan  2001
1  Afghanistan  2002
2  Afghanistan  2003
3  Afghanistan  2004
4  Afghanistan  2005