In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("../data/future_pred_result.csv").drop(columns="Unnamed: 0")
df.head()

          Area  Year  Real Undernourishment  Pred. Undernourishment
0  Afghanistan  2019                   29.8                  23.805
1  Afghanistan  2018                   26.9                  23.976
2      Albania  2019                    3.9                   6.287
3      Albania  2018                    4.3                   5.838
4      Algeria  2019                    0.0                   3.552